

<li class='record' id="<%= dom_id(item) -%>" style="width: 128px;height: 128px; background: none; display: inline-block;">
  <!--<span class='title'>-->
    <%#= item.title %>
    <%= image_fu(item.image, '128x128#c') %>
  <!--</span>-->
  <span class='actions' style="float: left">

    <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_galleries_admin_item_path(item, :dialog => true, :width => 866, :height => 510),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.galleries_admin_item_path(item),
         :class => "cancel confirm-delete",
         :title => t('.delete'),
         :confirm => t('message', :scope => 'refinery.admin.delete', :title => item.title),
        :method => :delete %>
  </span>




</li>


